/* @import "./base.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
}

body {
  background-color: hsla(251, 13%, 49%, 0.2);
  max-width: 1280px;

  font-weight: normal;
  margin: 0 auto;
  /* display: flex;
  place-items: center; */
}

@media (min-width: 1024px) {
  body {
    background-color: hsla(251, 13%, 49%, 0.2);
    padding: 0.5rem;
    /* display: flex;
    place-items: center; */
  }
}

\* {
  box-sizing: border-box;
}
